.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
  color: #adb5bd;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;
}

.matrix {
  color: #e9ecef;
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
